:root
{ --colorForTitleInHipHop: #7762E8; /* orange-like color for titles in rap */ }
/*******************
 * I) HIP-HOP'S HISTORY : INTRO -> ORIGIN -> TYPES -> MESSAGE -> IMPACTS
 ******************/

/*******************
******************** HIP-HOP CONTENT : INTRO
*******************/
 /* HIP-HOP BACKGROUND DISPLAY WITH TITLE */
.wrapper-rap-history .hip-hop-content
{
    display: none;
    transition: all 1.5s;
    will-change: opacity;
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100vw;
}
.wrapper-rap-history .hip-hop-content .hip-hop-history
{
    width: 100%;
    display: block;
    background: url('../images/hip-hop/mosaique-albums-hip-hop.png');
    box-shadow: 1px 1px 100px 50px rgba(0, 0, 0, 1) inset;
}

/* HIP-HOP TITLE STYLE ON STYLE.CSS --> .music-type-text */
.wrapper-rap-history .hip-hop-content .hip-hop-history .text-the,
.music-type-text.hip-hop
{ color: var(--colorForTitleInHipHop); }
.wrapper-rap-history .hip-hop-content .hip-hop-history .text-the
{
    position: absolute;
    top: 51.5%;
    left: 25%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    font-size: 2.85rem;
    font-family: 'Monument-Extended';
}

/*******************
******************** HIP-HOP CONTENT : ORIGIN
*******************/
/* BACKGROUND OF HIP-HOP'S ORIGIN */
.hip-hop-content .music-style-origin
{
    background: url('../images/hip-hop/hip-hop-timeline/run-dmc.png');
    max-width: 100%;
    position: relative;
    background-size: cover;
}
.music-style-origin-text.hip-hop-origin-text
{ width: 1rem; }

/* HIP-HOP ORIGIN TEXT STYLE ON STYLE.CSS --> .music-style-origin-text */
/* HIP-HOP ORIGIN PULSE BUTTON STYLE ON STYLE.CSS --> .pulse-button */
/* HIP-HOP ORIGIN PULSE BUTTON TEXT STYLE ON STYLE.CSS --> .pulse-button-text */
.pulse-button.current-pulse-button-hip-hop
{ background: #7762E8; }
.wrapper-rap-history .hip-hop-content .music-style-origin .pulse-button
{ box-shadow: 0 0 0 0 #7762E8; }
.wrapper-rap-history .hip-hop-content .music-style-origin .pulse-button-text
{ color: var(--colorForTitleInHipHop); }

/*******************
******************** HIP-HOP CONTENT : TYPES
*******************/
.wrapper-rap-history .hip-hop-content .artist.hip-hop-mia
{ background-image: url('../images/hip-hop/artists/mia.png'); }
.wrapper-rap-history .hip-hop-content .artist.hip-hop-mc-hammer
{ background-image: url('../images/hip-hop/artists/mc-hammer.png'); }
.wrapper-rap-history .hip-hop-content .artist.hip-hop-dj-shadow
{ background-image: url('../images/hip-hop/artists/dj-shadow.png'); }
.wrapper-rap-history .hip-hop-content .artist.hip-hop-dj-kool-herc
{ background-image: url('../images/hip-hop/artists/dj-kool-herc.png'); }

/* EACH ARTIST DIV STYLE IN STYLE.CSS -> .artist */
/* EACH ARTIST DESCRIPTION TEXT POSITIONNING */
.wrapper-rap-history .hip-hop-content .artist-mia-text
{ left: 5%; }
.wrapper-rap-history .hip-hop-content .artist-mc-hammer-text
{ left: 30%; }
.wrapper-rap-history .hip-hop-content .artist-dj-shadow-text
{ left: 55%; }
.wrapper-rap-history .hip-hop-content .artist-dj-kool-herc-text
{ left: 80%; }

/* ANIMATION FOR BACKGROUND OPACITY OF HOVERED ARTIST IN STYLE.CSS
    .artist-background-animation-mouseover
    .artist-background-animation-mouseout
*/
/* ANIMATION FOR DESCRIPTION TEXT OPACITY OF HOVERED ARTIST IN STYLE.CSS
    .artist-text-animation-mouseover
    .artist-text-animation-mouseout
*/

/*******************
******************** HIP-HOP CONTENT : MESSAGE
*******************/
.music-style-message.hip-hop-message
{
    background: url('../images/hip-hop/hip-hop-message-background.png');
    background-size: cover;
}
/* STYLE FOR HIP-HOP'S MESSAGE IN STYLE.CSS
    .music-style-message
    .music-style-message-text-la
    .music-style-message-text-morale
    .music-style-message-description-text
*/
.music-style-message-description-text.hip-hop-message-text
{
    top: 10%;
    width: 50%;
    text-align: center;
    left: 25%;
}

/*******************
******************** HIP-HOP CONTENT : IMPACTS
*******************/
.music-style-impacts.hip-hop-impacts
{
    background: url('../images/hip-hop/hip-hop-impacts-background.png');
    background-size: cover;
}
/* STYLE FOR HIP-HOP'S IMPACTS IN STYLE.CSS
    .music-style-impacts
    .music-style-impacts-text-les
    .music-style-impacts-text-impacts
    .music-style-impacts-description-text
*/
.music-style-impacts-description-text.hip-hop-impacts-text
{
    top: 60%;
    left: 16.1%;
}

/*******************
******************** TUNNEL EFFECT BETWEEN MUSIC TYPES
*******************/
.hip-hop-main-container-to-display
{
    transition: all 1.5s;
    will-change: transform opacity;
}
/* TUNNEL ANIMATION IN STYLE.CSS
    .tunnel-animation
    .tunnel-animation-in
*/
/* BUTTON FOR TUNNEL ANIMATION IN STYLE.CSS -> .tunnel-button-container */